{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}
    Trio Status
{% endblock %}


{% block content %}
<script>
    $("#main-nav-bar > ul > li.active").removeClass("active")
    $("#navbarId-Search-Home").addClass("active")
</script>



<table class="table table-bordered">
    <thead>
        <tr>
            <th>Dataset</th>
            <th>Upload User</th>
            <th>Uploaded</th>
            <th>Analysis Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for ele in pedigree_information %}
        <tr>
            <td>{{ele.dataset.description}}</td>
            <td>{{ele.upload_user}}</td>
            <td>{{ele.created}}</td>
            <td>{{ele.analysis_status}}</td>
            <td><a href="{% url 'saved-search-delete' ele.id %}"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>

</script>
{% endblock %}
