{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}
    Trio Home
{% endblock %}


{% block content %}
<script>
    $("#main-nav-bar > ul > li.active").removeClass("active")
    $("#navbarId-Search-Home").addClass("active")
</script>

    <form role="form"  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <input class="btn btn-success" type="submit" value="Submit">
    </form>


<script>

</script>
{% endblock %}
