{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}
    Visualization Home
{% endblock %}


{% block content %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
    <script>
        $("#main-nav-bar > ul > li.active").removeClass("active")
        $("#navbarId-Visualization-Home").addClass("active")

    </script>

    {% include 'visualization/variant_distribution.html' %}
    {% include 'visualization/sift_pred.html' %}
    {% include 'visualization/dbsnp_distribution.html' %}
    {% include 'visualization/gwas_distribution.html' %}
{% endblock %}
