{% load crispy_forms_tags %}
{% load staticfiles %}

        <ul class="nav nav-tabs">
            {% for tab in tabs %}
                {% if forloop.counter == 1 %}
                    <li class="active"><a data-toggle="tab" href="#{{tab.name|slugify}}">{{tab.name}}</a></li>
                {% else %}
                    <li><a data-toggle="tab" href="#{{tab.name|slugify}}">{{tab.name}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <br>
          <div class="tab-content">
            {% for tab in tabs %}
                {% if forloop.counter == 1 %}
                    <div id="{{tab.name|slugify}}" class="tab-pane fade in active">
                {% else %}
                    <div id="{{tab.name|slugify}}" class="tab-pane fade">
                {% endif %}
                    <div class="panel-group" id="attribute-accordion">
                        {% for panel in tab.panels %}
                            <div class="panel panel-primary">
                              <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-parent="#attribute-accordion" data-target="#attribute-{{panel.name|slugify}}">
                                <h3 class="panel-title accordion-toggle">
                                  {{panel.display_name|safe}}
                                </h3>
                              </div>
                                <div id="attribute-{{panel.name|slugify}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                {% if panel.form %}
                                    <div class="pull-right">
                                        <button id="{{panel.attribute_group_id}}" type="button" class="btn btn-primary select-all">Select All</button>
                                        <button id="{{panel.attribute_group_id}}" type="button" class="btn btn-primary select-none">Select None</button>
                                    </div>
                                    <div class="clearfix"></div>
                                {% endif %}
                                <div class="table-responsive">
                                    <table class="table table-borderless table-condensed">
                                        <tbody>
                                        {% for field in panel.form %}
                                               {% if forloop.first %}<tr>{% endif %}
                                                    <td>{{ field|as_crispy_field }}</td>
                                                {% if forloop.counter|divisibleby:4 %}</tr><tr>{% endif %}
                                                {% if forloop.last %}</tr>{% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>


                                {% for sub_panel in panel.sub_panels %}
                                <div class="panel panel-info">
                                    <div class="panel-heading">{{sub_panel.display_name}}</div>
                                    <div id="{{sub_panel.name|slugify}}">
                                        <div class="panel-body">
                                            {% if sub_panel.form %}
                                                <div class="pull-right">
                                                    <button id="{{sub_panel.attribute_group_id}}" type="button" class="btn btn-info select-all">Select All</button>
                                                    <button id="{{sub_panel.attribute_group_id}}" type="button" class="btn btn-info select-none">Select None</button>
                                                </div>
                                                <div class="clearfix"></div>
                                            {% endif %}
                                            <div class="table-responsive">
                                                <table class="table table-borderless table-condensed">
                                                    {% for field in sub_panel.form %}
                                                           {% if forloop.first %}<tr>{% endif %}
                                                                <td>{{ field|as_crispy_field }}</td>
                                                            {% if forloop.counter|divisibleby:4 %}</tr><tr>{% endif %}
                                                            {% if forloop.last %}</tr>{% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                                </div>
                              </div>

                            </div>


                        {% endfor %}

                     </div>  {% comment %} End Accordion {% endcomment %}
                </div>
            {% endfor %}
          </div>

        </div>
        </div>
<script>

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    $(":input[type=text]").each(function () {
        if ($(this).val()) {
            // console.log($(this).val())
            $(this).trigger("change");
        }

    })
});





</script>
