{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}
    Search Home
{% endblock %}


{% block content %}

{% if review_status %}
    <div class="panel panel-primary">
        <div class="panel-heading">Group Review Status List </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="result-table" class="table display compact" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Variant</th>
                        <th>Variant Approval Status</th>
                        <th>User</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for row in review_status %}
                            <tr>
                                <td><a target="_blank" href="{% url 'get-variant' row.dataset.id row.variant_es_id %}">{{ row.variant }}</a></td>
                                <td><span class='badge badge-{{row.variant_review_status}} add_badge_margin_remove_hover'>{{ row.variant_review_status|title }}</span></td>
                                <td>{{ row.user }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endif %}


{% endblock %}
