{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}
{{ block.super }} - Update Saved Search
{% endblock %}

{% block content %}
 <script>
            $("#main-nav-bar > ul > li.active").removeClass("active")
            $("#navbarId-SavedSearch").addClass("active")

    </script>
<div class="page-header">
  <h1>Update Description</h1>
</div>
<div class="table-responsive table-bordered">
<table class="table">
    <tbody>
        <tr>
            <td>Study:</td>
            <td><strong>{{object.dataset.study}}</strong></td>
        </tr>
        <tr>
            <td>Dataset:</td>
            <td><strong>{{object.dataset.description}}</strong></td>
        </tr>
        <tr>
            <td>Filters Used:</td>
            <td>
                {% if object.get_filters_used %}
                 <div class="table-responsive">
                   <table class="table table-condensed table-bordered">
                     <tbody>
                     {% for key, display_name, value in object.get_filters_used %}
                         <tr> <td>{{display_name}}</td> <td><strong>{{value}}</strong></td>
                         </tr>
                     {% endfor %}
                     </tbody>
                     </table>
                 </div>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
</div>

<h3>Modify Description</h3>

<form method="POST" action="{{ object.get_update_url }}">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Update</button>
    <a class="btn btn-default" href="{% url 'saved-search-list' %}" role="button">Cancel</a>
</form>
<br>
{% endblock %}
