{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load search_tags %}

{% block title %}
    Saved Searches
{% endblock %}

{% block content %}
 <script>
    $("#main-nav-bar > ul > li.active").removeClass("active")
    $("#navbarId-SavedSearch").addClass("active")

</script>

<div class="page-header">
    <h1>Your Saved Searches</h1>
</div>

    <div class="table-responsive">
      <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Study</th>
                <th>Dataset</th>
                <th>Filters</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ele in saved_search_list %}
        <tr>
            <td>{{ele.id}}</td>
            <td>{{ele.dataset.study}}</td>
            <td>{{ele.dataset.description}}</td>
            <td>
                {% if ele.get_filters_used %}
                    <div class="table-responsive">
                       <table class="table table-bordered">
                        <tbody>
                         {% for key, value in ele.get_filters_used %}
                            <tr>
                                <td>{{key}}</td>
                                <td><strong>{{value}}</strong></td>
                            </tr>
                         {% endfor %}
                        </tbody>
                        </table>
                     </div>
                {% else %}
                    None
                {% endif %}
            </td>
            <td>{{ele.description}}</td>
            <td style="white-space:nowrap;">
                <a href="#"><i class="fa fa-search fa-lg" aria-hidden="true"></i></a>
                <a href="{% url 'saved-search-update' ele.id %}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="{% url 'saved-search-delete' ele.id %}"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}
