{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load search_tags %}


{% block title %}
    Variant Home
{% endblock %}

    Basic panel example


{% block content %}

<div class="col-md-6">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Variant Information</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
    <table class="table table-condensed">
    <tbody>
        <tr>
            <td>Variant</td>
            <td><strong>{{ result.Variant }}</strong>
                <br><a target="_blank" href="{{ result.Variant|get_gbrowser_link }}"> (Open in UCSC Genome Browser)</a>
                <br><a target="_blank" href="{{ result.Variant|get_decipher_link }}"> (Open in Decipher)</a>
            </td>
        </tr>
        <tr>
            <td>Chromosome</td>
            <td><strong>{{ result.CHROM }}</strong></td>
        </tr>
        <tr>
            <td>Start</td>
            <td><strong>{{ result.POS }}</strong></td>
        </tr>
        <tr>
            <td>Reference Allele</td>
            <td><strong>{{ result.REF }}</strong></td>
        </tr>
        <tr>
            <td>Alternate Allele</td>
            <td><strong>{{ result.ALT }}</strong></td>
        </tr>
        <tr>
            <td>Mutation Type</td>
            <td><strong>{{ result|get_value_from_dict:"VariantType" }}</strong></td>
        </tr>
        <tr>
            <td>Cytoband</td>
            <td><strong>{{ result|get_value_from_dict:"cytoBand" }}</strong></td>
        </tr>
        <tr>
            {% if result.FILTER_status %}
                <td>GATK Filter Status</td>
                <td><strong>{{ result.FILTER_status}}</strong></td>
            </tr>
        {% endif %}
        {% if result.QUAL_score %}
            <tr>
                <td>GATK Quality Score</td>
                <td><strong>{{ result.QUAL_score}}</strong></td>
            </tr>
        {% endif %}
        {% if result.ID %}
            <tr>
                <td>ID</td>
                <td><strong>{{result.ID}}</strong></td>
            </tr>
        {% endif %}
        {% if result.avsnp142 %}
            <tr>
                <td>avsnp142</td>
                <td><a target="_blank" href="https://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?type=rs&rs={{result.avsnp142}}"><strong>{{ result.avsnp142 }}</strong></a></td>
            </tr>
        {% endif %}
        {% if result.snp138NonFlagged %}
            <tr>
                <td>snp138NonFlagged</td>
                <td><a target="_blank" href="https://www.ncbi.nlm.nih.gov/projects/SNP/snp_ref.cgi?type=rs&rs={{result.snp138NonFlagged}}"><strong>{{ result.snp138NonFlagged }}</strong></a></td>
            </tr>
        {% endif %}


    </tbody>
  </table>
  </div>
  </div>
</div>
</div>

<div class="col-md-6">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Functional Consequence</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
    <table class="table table-condensed">
    <tbody>
        <tr>
            <td>RefSeq gene/transcript</td>
            <td><strong>{{ result.Func_refGene }}</strong></td>
        </tr>
        <tr>
            <td>Ensembl gene/transcript</td>
            <td><strong>{{ result.Func_ensGene }}</strong></td>
        </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>
</div>

<div class="col-md-6">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Cohort Information</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
    <table class="table table-condensed">
    <tbody>
        {% if result.AC_case %}
            <tr>
                <td>Allele Count Case</td>
                <td><strong>{{ result.AC_case }}</strong></td>
            </tr>
        {% endif %}
        {% if result.AN_case %}
            <tr>
                <td>Allele Number Case</td>
                <td><strong>{{ result.AN_case }}</strong></td>
            </tr>
        {% endif %}
        {% if result.AF_case %}
            <tr>
                <td>Allele Frequency Case</td>
                <td><strong>{{ result.AF_case }}</strong></td>
            </tr>
        {% endif %}
        {% if result.AC_control %}
            <tr>
                <td>Allele Count Control</td>
                <td><strong>{{ result.AC_control }}</strong></td>
            </tr>
        {% endif %}
        {% if result.AN_control %}
            <tr>
                <td>Allele Number Control</td>
                <td><strong>{{ result.AN_control }}</strong></td>
            </tr>
        {% endif %}
        {% if result.AF_control %}
            <tr>
                <td>Allele Frequency Control</td>
                <td><strong>{{ result.AF_control }}</strong></td>
            </tr>
        {% endif %}
        {% if result.AC %}
            <tr>
                <td>Allele Count</td>
                <td><strong>{{ result.AC }}</strong></td>
            </tr>
        {% endif %}
        {% if result.AN %}
            <tr>
                <td>Allele Number</td>
                <td><strong>{{ result.AN }}</strong></td>
            </tr>
        {% endif %}
        {% if result.AF %}
            <tr>
                <td>Allele Frequency</td>
                <td><strong>{{ result.AF }}</strong></td>
            </tr>
        {% endif %}

    </tbody>
  </table>
  </div>
  </div>
</div>
</div>


{% if result.ensGene %}
<div class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">RefSeq Identifier</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>RefGene ID</th>
        <th>cDNA change</th>
        <th>Amino acid change</th>
        <th>Location</th>
        <th>Distance to Gene</th>
      </tr>
    </thead>
    <tbody>
    {% for ele in result.refGene %}
      <tr>
        <td>
            {{ele.refGene_symbol}}
            {{ele.refGene_symbol|gene_mania|safe}}
            {{ele.refGene_symbol|gene_link|safe}}
        </td>
        <td><a target="_blank" href="https://www.ncbi.nlm.nih.gov/nuccore/{{ele.refGene_refgene_id}}">{{ele.refGene_refgene_id}}</a></td>
        <td>{{ele.refGene_cDNA_change}}</td>
        <td>{{ele.refGene_aa_change}}</td>
        <td>{{ele.refGene_location}}</td>
        <td>{{ele.refGene_distance_to_gene}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
</div>
</div>
{% endif %}

{% if result.ensGene %}
<div class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Ensembl Identifier</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Gene ID</th>
        <th>Transcript ID</th>
        <th>cDNA change</th>
        <th>Amino acid change</th>
        <th>Location</th>
        <th>Distance to Gene</th>
      </tr>
    </thead>
    <tbody>
    {% for ele in result.ensGene %}
      <tr>
        <td>{{ele.ensGene_gene_id|ensembl_link|safe}}</td>
        <td><a target="_blank" href="http://www.ensembl.org/id/{{ele.ensGene_transcript_id}}">{{ele.ensGene_transcript_id}}</a></td>
        <td>{{ele.ensGene_cDNA_change}}</td>
        <td>{{ele.ensGene_aa_change}}</td>
        <td>{{ele.ensGene_location}}</td>
        <td>{{ele.ensGene_distance_to_gene}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
</div>
</div>
{% endif %}

<div class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Sample Information</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
    <table id="sample_table" class="table table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Read Depth</th>
        <th>Genotype</th>
        <th>Genotype Quality</th>
        {% if result.sample.0.sample_label %}
            <th>Cohort Label</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
    {% for ele in result.sample %}
      <tr>
        <td>{{ele.sample_ID}}</td>
        <td>{{ele.sample_DP}}</td>
        <td>{{ele.sample_GT}}</td>
        <td>{{ele.sample_GQ}}</td>
        {% if ele.sample_label %}
            <td>{{ele.sample_label}}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
</div>
</div>


<div class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Minor Allele Frequency</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
        <table id="map_table" class="table table-condensed">
        <thead>
            <tr>
                <th>Frequency Type</th>
                <th>Frequency Value</th>
            </tr>
        </thead>
        <tbody>
            {% if result.1000g2015aug_all %}
                <tr>
                    <td>1000 Genomes Project (Aug. 2015) ALL</td>
                    <td>{{result.1000g2015aug_all}}</td>
                </tr>
            {% endif %}
            {% if result.1000g2015aug_afr %}
                <tr>
                    <td>1000 Genomes Project (Aug. 2015) African</td>
                    <td>{{result.1000g2015aug_afr}}</td>
                </tr>
            {% endif %}
            {% if result.1000g2015aug_amr %}
                <tr>
                    <td>1000 Genomes Project (Aug. 2015) Admixed American</td>
                    <td>{{result.1000g2015aug_amr}}</td>
                </tr>
            {% endif %}
            {% if result.1000g2015aug_amr %}
                <tr>
                    <td>1000 Genomes Project (Aug. 2015) European</td>
                    <td>{{result.1000g2015aug_amr}}</td>
                </tr>
            {% endif %}
            {% if result.1000g2015aug_sas %}
                <tr>
                    <td>1000 Genomes Project (Aug. 2015) South Asian</td>
                    <td>{{result.1000g2015aug_sas}}</td>
                </tr>
            {% endif %}
            {% if result.ExAC_ALL %}
                <tr>
                    <td>The Exome Aggregation Consortium (ExAC) ALL</td>
                    <td>{{result.ExAC_ALL}}</td>
                </tr>
            {% endif %}
            {% if result.ExAC_AFR %}
                <tr>
                    <td>The Exome Aggregation Consortium (ExAC) African</td>
                    <td>{{result.ExAC_AFR}}</td>
                </tr>
            {% endif %}
            {% if result.ExAC_AMR %}
                <tr>
                    <td>The Exome Aggregation Consortium (ExAC) Admixed American</td>
                    <td>{{result.ExAC_AMR}}</td>
                </tr>
            {% endif %}
            {% if result.ExAC_EAS %}
                <tr>
                    <td>The Exome Aggregation Consortium (ExAC) East Asian</td>
                    <td>{{result.ExAC_EAS}}</td>
                </tr>
            {% endif %}
            {% if result.ExAC_FIN %}
                <tr>
                    <td>The Exome Aggregation Consortium (ExAC) Finnish</td>
                    <td>{{result.ExAC_FIN}}</td>
                </tr>
            {% endif %}
            {% if result.ExAC_NFE %}
                <tr>
                    <td>The Exome Aggregation Consortium (ExAC) Non-finnish European</td>
                    <td>{{result.ExAC_NFE}}</td>
                </tr>
            {% endif %}
            {% if result.ExAC_OTH %}
                <tr>
                    <td>The Exome Aggregation Consortium (ExAC) Other</td>
                    <td>{{result.ExAC_OTH}}</td>
                </tr>
            {% endif %}
            {% if result.ExAC_SAS %}
            <tr>
                <td>The Exome Aggregation Consortium (ExAC) South Asian</td>
                <td>{{result.ExAC_SAS}}</td>
            </tr>
            {% endif %}
            {% if result.esp6500siv2_all %}
            <tr>
                <td>Esp6500 ALL</td>
                <td>{{result.esp6500siv2_all}}</td>
            </tr>
            {% endif %}
            {% if result.esp6500siv2_aa %}
            <tr>
                <td>Esp6500 African American</td>
                <td>{{result.esp6500siv2_aa}}</td>
            </tr>
            {% endif %}
            {% if result.esp6500siv2_ea %}
            <tr>
                <td>Esp6500 European American</td>
                <td>{{result.esp6500siv2_ea}}</td>
            </tr>
            {% endif %}
        </tbody>
        </table>
    </div>

  </div>
</div>
</div>


{% if baminfo_exists %}

<div class="col-md-12">
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Visualization</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
        <form target="_blank" action="{% url 'pybamview' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-success btn-block" value="View in PyBAMView">
            <input type="hidden" name="dataset_id" value="{{dataset_id}}">
            <input type="hidden" name="variant_id" value="{{variant_id}}">
            <input type="hidden" name="index_name" value="{{index_name}}">
            <input type="hidden" name="type_name" value="{{type_name}}">
        </form>
    </div>

    <div class="col-md-6">
        <form target="_blank" action="{% url 'igvview' %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-success btn-block" value="View in IGV.JS">
            <input type="hidden" name="dataset_id" value="{{dataset_id}}">
            <input type="hidden" name="variant_id" value="{{variant_id}}">
            <input type="hidden" name="index_name" value="{{index_name}}">
            <input type="hidden" name="type_name" value="{{type_name}}">
        </form>
    </div>



  </div>
</div>
</div>
<div class="clearfix">
</div>

{% endif %}

{% if coding_region_available or splice_junctions_available %}
<div class="col-md-6">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#pathogenic_predictions">
              <h4 class="panel-title accordion-toggle">
                Pathogenic Predictions
              </h4>
            </div>
            <div id="pathogenic_predictions" class="panel-collapse collapse">
                <div class="panel-body">
                    {% if coding_region_available %}
                    <div class="panel panel-info">
                        <div class="panel-heading">Coding Region</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="pathogenic_predictions_table" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Pathogenic Predictor</th>
                                        <th>Prediction</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ele in coding_regions %}
                                        {% if result|get_value_from_dict:ele %}
                                            <tr>
                                                <td>{{ele}}</td>
                                                <td>{{result|get_value_from_dict:ele}}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if splice_junctions_available %}
                    <div class="panel panel-info">
                        <div class="panel-heading">Splice Junctions</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                            <table class="table table-condensed">
                            <tbody>
                                {% if result.dbscSNV_ADA_SCORE %}
                                    <tr>
                                        <td>DbscSNV ADA SCORE </td>
                                        <td><strong>{{result.dbscSNV_ADA_SCORE}}</strong></td>
                                    </tr>
                                {% endif %}
                                {% if result.dbscSNV_RF_SCORE %}
                                    <tr>
                                        <td>DbscSNV RF SCORE </td>
                                        <td><strong>{{result.dbscSNV_RF_SCORE}}</strong></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                          </table>
                          </div>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if conserved_elements_available %}
<div class="col-md-6">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#conserved_elements">
              <h2 class="panel-title accordion-toggle">
                Conserved/Constrained <br> Genomic Elements/Positions
              </h4>
            </div>
            <div id="conserved_elements" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">
                            <table class="table table-condensed">
                            <tbody>
                                {% if result.gerp_plus_gt2 %}
                                    <tr>
                                        <td>GERP++ score</td>
                                        <td><strong>{{result.gerp_plus_gt2}}</strong></td>
                                    </tr>
                                {% endif %}
                                {% if result.genomicSuperDups %}
                                    <tr>
                                        <td>genomicSuperDups</td>
                                        <td><strong>{{result.genomicSuperDups}}</strong></td>
                                    </tr>
                                {% endif %}
                                {% if result.phastConsElements100way %}
                                    <tr>
                                        <td>PhastConsElements100way</td>
                                        <td><strong>{{result.phastConsElements100way}}</strong></td>
                                    </tr>
                                {% endif %}
                                {% if result.phastConsElements46way %}
                                    <tr>
                                        <td>PhastConsElements46way</td>
                                        <td><strong>{{result.phastConsElements46way}}</strong></td>
                                    </tr>
                                {% endif %}
                                {% if result.tfbsConsSites %}
                                    <tr>
                                        <td>Transcription-Factor Binding Sites</td>
                                        <td><strong>{{result.tfbsConsSites}}</strong></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if result.wgRna or result.targetScanS %}
<div class="col-md-6">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#microrna_snorna">
              <h4 class="panel-title accordion-toggle">
                microRNA/snoRNA
              </h4>
            </div>
            <div id="microrna_snorna" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="table-responsive">
                            <table class="table table-condensed">
                            <tbody>
                                {% if result.wgRna %}
                                    <tr>
                                        <td>microRNA/snoRNA Disrupted</td>
                                        <td><strong>{{result.wgRna}}</strong></td>
                                    </tr>
                                {% endif %}
                                {% if result.targetScanS %}
                                    <tr>
                                        <td>Predicted microRNA</td>
                                        <td><strong>{{result.targetScanS}}</strong></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if result.CLINSIG or result.gwasCatalog %}
<div class="col-md-12">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div style="cursor: pointer;" class="panel-heading" data-toggle="collapse" data-target="#clinical_annotations">
              <h4 class="panel-title accordion-toggle">
                Clinical Annotations
              </h4>
            </div>
            <div id="clinical_annotations" class="panel-collapse collapse">
                <div class="panel-body">

                    {% if result.CLINSIG %}
                    <div class="panel panel-info">
                        <div class="panel-heading">ClinVar</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Disease Name</th>
                                        <th>Clinical Significance</th>
                                        <th>Review Status</th>
                                        <th>Disease Database Name</th>
                                        <th>Disease Disease Database ID</th>
                                        <th>Accession and Versions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr>
                                            <td>{{result.CLNDBN}}</td>
                                            <td>{{result.CLINSIG}}</td>
                                            <td>{{result.CLNREVSTAT}}</td>
                                            <td>{{result.CLNDSDB}}</td>
                                            <td>{{result.CLNDSDBID}}</td>
                                            <td>{{result.CLNACC}}</td>

                                        </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if result.gwasCatalog %}
                    <div class="panel panel-info">
                        <div class="panel-heading">GWAS Catalog</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                            <table class="table table-condensed">
                            <tbody>
                                {% if result.gwasCatalog %}
                                    <tr>
                                        <td>GWAS Catalog</td>
                                        <td><strong>{{result.gwasCatalog}}</strong></td>
                                    </tr>
                                {% endif %}
                            </tbody>
                          </table>
                          </div>

                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    $(document).ready(function() {
        $('#sample_table').DataTable({
            "iDisplayLength": 10

        });

        $('#pathogenic_predictions_table').DataTable({
            "bPaginate": false
        });

        $('#map_table').DataTable({
            "bPaginate": false
        });

    });

    //     var div = $("#igvDiv")[0],
    //             options = {
    //                 showNavigation: true,
    //                 showRuler: true,
    //                 genome: "hg19",
    //                 locus: "chr8:128,747,267-128,748,267",
    //                 tracks: [
    //                     {
    //                         name: "Genes",
    //                         type: "annotation",
    //                         format: "bed",
    //                         sourceType: "file",
    //                         url: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz",
    //                         indexURL: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz.tbi",
    //                         order: Number.MAX_VALUE,
    //                         visibilityWindow: 300000000,
    //                         displayMode: "EXPANDED"
    //                     }, {
    //                         url: 'https://data.broadinstitute.org/igvdata/BodyMap/hg19/IlluminaHiSeq2000_BodySites/brain_merged/accepted_hits.bam',
    //                         name: 'Brain (BodyMap)'
    //                     }
    //                 ]
    //             };
    //     igv.createBrowser(div, options);

    // });


</script>

{% endblock %}
