{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}
    Search Home
{% endblock %}


{% block content %}

{% if not any_variants %}
    <div class="alert alert-info">
      You have not reviewed variants
    </div>
{% endif %}

<div class="row">

<div class="row">
  {% if group_approved %}
      <div class="col-sm-4">
          <div class="panel panel-default">
          <div class="panel-heading">Approved Variants <span class="badge badge-approved">{{group_approved_count}}</span></div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Variant</th>
                    <th>Dataset</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ele in group_approved %}
                      <tr>
                        <td>{{ ele.variant }}</td>
                        <td>{{ ele.dataset }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <a class="pull-right" href="{% url 'list-group-variant-status' 'approved' %}">Edit/show more</a>
          </div>
        </div>
      </div>
  {% endif %}

  {% if group_rejected %}
  <div class="col-sm-4">
      <div class="panel panel-default">
      <div class="panel-heading">Rejected Variants <span class="badge badge-rejected">{{group_rejected_count}}</span></div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Variant</th>
                <th>Dataset</th>
              </tr>
            </thead>
            <tbody>
              {% for ele in group_rejected %}
                  <tr>
                    <td>{{ ele.variant }}</td>
                    <td>{{ ele.dataset }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <a class="pull-right" href="{% url 'list-group-variant-status' 'rejected' %}">Edit/show more</a>
      </div>
    </div>
  </div>
  {% endif %}

  {% if group_pending %}
  <div class="col-sm-4">
      <div class="panel panel-default">
      <div class="panel-heading">Pending Variants <span class="badge badge-pending">{{group_pending_count}}</span></div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Variant</th>
                <th>Dataset</th>
              </tr>
            </thead>
            <tbody>
              {% for ele in group_pending %}
                  <tr>
                    <td>{{ ele.variant }}</td>
                    <td>{{ ele.dataset }}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <a class="pull-right" href="{% url 'list-group-variant-status' 'pending' %}">Edit/show more</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
