{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
    MSEA Plot
{% endblock %}



{% block content %}
    <div class="page-header text-center">
          <h1>MSEA Plots</h1>
      </div>

    {% for gene, rs_id, vset, file in plots %}
        <a target="_blank" href="{% url 'download-svg' %}?dataset={{dataset}}&gene={{gene}}&rs_id={{rs_id}}&vset={{vset}}" class="btn btn-success" role="button">Download as SVG</a>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/static/bokeh_outputs/{{file}}"></iframe>
        </div>
    {% endfor %}


<script>

    $(document).ready(function() {
        sessionStorage.setItem("msea_results_visited", "True");
    });

</script>

{% endblock %}
