{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
    MSEA Plot
{% endblock %}

{% block content %}
    <div class="page-header text-center">
        <h1>Visualize Mutation Set Enrichment Analysis (MSEA) Data</h1>
    </div>
    <div class="row">
        <h5 class="text-center">{{dataset_display_name}}</h5>
        <div class="main_image text-center">
            <img src="/static/r_outputs/svg/{{plot_path}}" alt="img" width="500" height="500">
            <a href="{% url 'download-tiff' %}?dataset_es_index_name={{dataset_es_index_name}}&gene={{gene}}&rs_id={{rs_id}}&variant_selected={{variant_selected}}&recurrent_variant_option={{recurrent_variant_option}}">
                <img class="download_inlay" src="/static/custom/images/Gnome-Document-Save-32.png" title="download as tiff">
            </a>
        </div>
    </div>
    <br>

<style>
.main_image{
    position:relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.download_inlay{
    position:absolute;
    top:20px;
    right:240px
</style>

<script>

    $(document).ready(function() {
        sessionStorage.setItem("msea_results_visited", "True");
    });

</script>

{% endblock %}


