{% load crispy_forms_tags %}
{% load staticfiles %}

 <ul class="nav nav-tabs">
{% for short_name, display_name, result in results %}
    {% if forloop.first %}
        <li class="active"><a data-toggle="tab" href="#{{forloop.counter}}">SIM {{display_name}}</a></li>
    {% else %}
        <li><a data-toggle="tab" href="#{{forloop.counter}}">SIM {{display_name}}</a></li>
    {% endif %}
{% endfor %}

</ul>

<div class="tab-content">
{% for short_name, display_name, result in results %}
    {% if forloop.first %}
      <div id="{{forloop.counter}}" class="tab-pane fade in active">
    {% else %}
      <div id="{{forloop.counter}}" class="tab-pane fade">
    {% endif %}
        <!--<h3>{{key}}</h3>-->
        <div class="table-responsive">
            <table id="result-table-{{forloop.counter}}" class="table display compact" cellspacing="0">
                <thead>
                  <tr>
                      <th>refgene id</th>
                      <th>gene name</th>
                      <th>variant set</th>
                      <th>nes</th>
                      <th>p-value</th>
                  </tr>
                </thead>
                <tbody>
                    {% for ele in result%}
                        <tr>
                            <td><a target="_blank" href="/msea/get-plot?study_id={{study_id}}&rs_id={{ele.refgene_id}}&variant_selected={{ele.vset}}&gene={{ele.gene_name}}&dataset_short_name={{short_name}}">{{ ele.refgene_id}}</a></td>
                            <td>{{ ele.gene_name}}</td>
                            <td>{{ ele.vset}}</td>
                            <td>{{ ele.nes}}</td>
                            <td>{{ ele.pvalue}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
{% endfor %}
</div>

<script>
        $(document).ready(function() {
        // $('#result-table').destroy();
        $('[id^=result-table]').each(function(id){
            console.log(this.id)
            $("#"+this.id).DataTable({
                "iDisplayLength": 25,
                "bSortClasses": false
            });
        })
    });
</script>

