{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
    MSEA Plot
{% endblock %}



{% block content %}
    <div class="page-header text-center">
        <h1>Visualize Mutation Set Enrichment Analysis (MSEA) Data</h1>
    </div>
    <ul id="sortable">
        {% for gene, rs_id, variant_selected, recurrent_variant_option, dataset_short_name, dataset_display_name, study_id, file in plots %}
            <div class="col-md-6">
                <li class="ui-state-default">
                    <h5 class="text-center">{{dataset_display_name}}</h5>
                    <div class="main_image">
                        <img src="/static/r_outputs/svg/{{file}}" alt="img" width="1000" height="1000"/>
                        <a href="{% url 'download-tiff' %}?dataset_short_name={{dataset_short_name}}&gene={{gene}}&study_id={{study_id}}&rs_id={{rs_id}}&variant_selected={{variant_selected}}&recurrent_variant_option={{recurrent_variant_option}}">
                            <img class="download_inlay" src="/static/custom/images/Gnome-Document-Save-32.png" title="download as tiff">
                        </a>
                    </div>
                </li>
            </div>
        {% endfor %}
    </ul>
    
<style>
.main_image{
    position:relative;
    display: inline-block;
}
.download_inlay{
    position:absolute;
    top:20px;
    right:30px
}
[class*="ui-state-default"] {
    background-color:white;  
}
img {
max-width: 100%;
height: auto;
}
</style>

<script>
$(function() {
    $( "#sortable" ).sortable();
    $( "#sortable" ).disableSelection();
});
$(document).ready(function() {
    sessionStorage.setItem("msea_results_visited", "True");
});
</script>

{% endblock %}
