{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}


{% block title %}
    MSEA Plot
{% endblock %}



{% block content %}
    <div class="page-header text-center">
          <h1>Visualize Mutation Set Enrichment Analysis (MSEA) Data</h1>
      </div>


        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/static/r_outputs/svg/{{plot_path}}"></iframe>
        </div>
<script>

    $(document).ready(function() {
        sessionStorage.setItem("msea_results_visited", "True");
    });

</script>

{% endblock %}
