{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %}
    MSEA Plot
{% endblock %}



{% block content %}

     <script>
      if (sessionStorage.getItem("msea_results_visited")) {
          sessionStorage.removeItem("msea_results_visited");
          window.location.reload(true); // force refresh page1
          console.log('page1');
        }


            $("#main-nav-bar > ul > li.active").removeClass("active")
             $("#navbarId-Tool").addClass("active")
            $("#navbarId-msea").addClass("active")
    </script>


    <div class="page-header">
      <h1>MSEA Plotting Tool</h1>
    </div>

    <form id="msea-form" role="form"  method="POST" action="{% url 'msea-plot' %}" autocomplete="off">
        {% csrf_token %}
        {{form|crispy}}



        <div id="select-variant">

        </div>
    </form>
         <input id="msea-submit-button" type="button" class="btn btn-success disabled" value="Submit">


    <div>
    <p>
    <h4>Reference:</h4>
    Jia, P., Wang, Q., Chen, Q., Hutchinson, K. E., Pao, W., & Zhao, Z. (2014). MSEA: detection and quantification of mutation hotspots through mutation set enrichment analysis. <i>Genome Biology</i>, 15(10), 489. <a target="_blank" href="http://doi.org/10.1186/s13059-014-0489-9">http://doi.org/10.1186/s13059-014-0489-9</a>
    </p>
    </div>

<script type="text/javascript">





    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function get_variant_form(selected_rs_id, study){
$.ajax(
    {

        headers: {'X-CSRFToken': getCookie('csrftoken')},
        type: "GET",
        url : "{% url 'get-variant-form' %}",
        data: {
                selected_rs_id: selected_rs_id,
                study: study,
        },
        success:function(data) {
            $('#select-variant').html(data);
        }
    }

);
};



$(document).ready(function() {

    $('#id_search_term').typeahead({
        items: 15,
        minLength: 2,
        delay: 1,
        source: function (query, process) {
            return $.get('/msea/search-gene-rs-id/?q=' + query + '&study=' + $( "#id_study" ).val(), function (data) {
                return process(data.data);
            });
        },
        updater: function (selected_rs_id) {
            $('#select-variant').html();
            var study = $( "#id_study" ).val()
            get_variant_form(selected_rs_id, study);
            $("#msea-submit-button").removeClass("disabled")
            return selected_rs_id
        }
    });

$("#msea-submit-button").on('click', function(){
    if ($( "#msea-submit-button" ).hasClass( "disabled" ) == false) {
        $("#msea-submit-button").replaceWith('<button class="btn btn-warning"><i class="fa fa-refresh fa-spin fa-fw"></i> Generating...</button>')
        $( "#msea-form" ).submit();
    }

})


});


</script>




{% endblock %}



