{% extends "base.html" %} 
{% load staticfiles %} 
{% load crispy_forms_tags %} 
{% load common_tags %}
{% block title %} 
Create Document Review
{% endblock %} 

{% block content %}

{% if document_review_list %}
<div class="panel panel-primary">
  <div class="panel-heading">Reviews</div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-condensed">
        <thead>
          <tr>
          <th>Variant</th>
          <th>Dataset</th>
          <th>Status</th>
          <th>Modified</th>
        </tr>
        </thead>
        <tbody>
          {% for document_review in document_review_list %}
            <tr>
            <td>{{document_review.description}}</td>
            <td>{{document_review.dataset}}</td>
            <td><a href="{% url 'core-document-review-update' document_review.dataset.id document_review.id %}">{{document_review.status}}</a></td>
            <td>{{document_review.modified}}</td>
            </tr>
          {% endfor %}     
        </tbody>
      </table>
    </div>
  </div>
</div>

  {% else %}
    <div class="alert alert-info">
      You have no variant reviews!
    </div>
  {% endif %}





{% endblock%}