{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
  Mendelian Search
{% endblock %}


{% block content %}
<script>
  $("#main-nav-bar > ul > li.active").removeClass("active")
  $("#navbarId-Home-Menu").addClass("active")
  $("#navbarId-Home").addClass("active");
</script>


<div id="mendeliandiv"> <!-- Start <div id="mendeliandiv"> -->
    <div id="user-alert-div">
    </div>
    <div class="wizard container-fluid">
        <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">
                <li id="li-step1" role="presentation" class="active">
                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Select Study/Dataset">
                            <span class="round-tab">
                                <i class="fa fa-database" aria-hidden="true"></i>
                            </span>
                        </a>
                </li>
                <li id="li-step2" role="presentation" class="disabled li-disable">
                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Select Filters">
                            <span class="round-tab">
                                <i class="fa fa-filter" aria-hidden="true"></i>
                            </span>
                        </a>
                </li>
                <li id="li-step3" role="presentation" class="disabled li-disable">
                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Specify Family">
                            <span class="round-tab">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </span>
                        </a>
                </li>
                <li id="li-step-submit" role="presentation" class="disabled li-disable">
                    <a href="#step-submit" data-toggle="tab" aria-controls="step-submit" role="tab" title="Select Outputs">
                            <span class="round-tab">
                                <i class="fa fa-columns" aria-hidden="true"></i>
                            </span>
                        </a>
                </li>
                <li id="li-step5" role="presentation" class="disabled li-disable">
                    <a href="#results_div" data-toggle="tab" aria-controls="" role="tab" title="Results">
                            <span class="round-tab">
                                <i class="fa fa-table" aria-hidden="true"></i>
                            </span>
                        </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="input_div">
        <form id="searchForm" role="form" method="POST" action="">
            {% csrf_token %}
            <input id="exclude_rejected_documents_input" type="hidden" name="exclude_rejected_documents" value="false">
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <div class="clearfix">
                                </div>
                                <ul class="list-inline">
                                    <li>
                                        <button type="button" class="btn btn-primary next-step to_step2" disabled>Next <i class="fa fa-long-arrow-right"></i></button>
                                    </li>
                                    <li class="pull-right">
                                        <a class="btn btn-warning" data-toggle="confirmation" data-title="Are you sure?" href="/mendelian/{{study_obj.id}}">Reset</a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <h3>Select Dataset</h3>

                               <div id="step1-dataset-select">
                                  <div class="form-group">
                                    {{dataset_form|crispy}}
                                  </div>
                               </div>
                               <div id="step1-mendelians-analysis-select">
                                  <div class="form-group">
                                    {{mendelian_analysis_form|crispy}}
                                  </div>
                               </div>
                                <input id="dataset_description" type="hidden" name="dataset_description" value="">
                                <ul class="list-inline pull-left">
                                    <li>
                                        <button type="button" class="btn btn-primary next-step to_step2" disabled>Next <i class="fa fa-long-arrow-right"></i></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <ul class="list-inline">
                                    <li>
                                        <button type="button" class="btn btn-default prev-step pull-left"><i class="fa fa-long-arrow-left"></i> Previous</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary next-step pull-right">Next <i class="fa fa-long-arrow-right"></i></button>
                                    </li>
                                    <li class="pull-right">
                                        <a class="btn btn-warning" data-toggle="confirmation" data-title="Are you sure?" href="/mendelian/{{study_obj.id}}">Reset</a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <h3>Select Filters</h3>
                                <div id="step2-filter-select">
                                </div>
                                <ul class="list-inline">
                                    <li>
                                        <button type="button" class="btn btn-default prev-step"><i class="fa fa-long-arrow-left"></i> Previous</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary next-step">Next <i class="fa fa-long-arrow-right"></i></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <ul class="list-inline">
                                    <li>
                                        <button type="button" class="btn btn-default prev-step"><i class="fa fa-long-arrow-left"></i> Previous</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary next-step">Next <i class="fa fa-long-arrow-right"></i></button>
                                    </li>
                                    <li class="pull-right">
                                        <a class="btn btn-warning" data-toggle="confirmation" data-title="Are you sure?" href="/mendelian/{{study_obj.id}}">Reset</a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <h3>Select Family</h3>
                                <div id="step3-family-select">
                                </div>
                                <ul class="list-inline">
                                    <li>
                                        <button type="button" class="btn btn-default prev-step"><i class="fa fa-long-arrow-left"></i> Previous</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-primary next-step">Next <i class="fa fa-long-arrow-right"></i></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step-submit">
                                <ul class="list-inline">
                                    <li>
                                        <button type="button" class="btn btn-default prev-step"><i class="fa fa-long-arrow-left"></i> Previous</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-success submit_via_ajax_button disabled">Search</button>
                                    </li>
                                    <li class="pull-right">
                                        <a class="btn btn-warning" data-toggle="confirmation" data-title="Are you sure?" href="/mendelian/{{study_obj.id}}">Reset</a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                                <h3>Select Attributes</h3>
                                <div id="step4-attribute-select">
                                </div>
                                <ul class="list-inline">
                                    <li>
                                        <button type="button" class="btn btn-default prev-step"><i class="fa fa-long-arrow-left"></i> Previous</button>
                                    </li>
                                    <li>
                                        <button type="button" class="btn btn-success submit_via_ajax_button disabled">Search</button>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="clearfix">
                            <div class="pull-right" sytle="display: inline;">
                                Powered by <a href="https://www.elastic.co/"><img src="{% static 'custom/images/elastic-logo.svg' %}" class="img-responsive" alt="Elasitc Search"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Summary</h3>
                    </div>
                    <div class="panel-body">
                        <h4 class="add-bottom-border">Study</h4>
                        <p id="study___p">None Selected</p>
                        <h4 class="add-bottom-border">Dataset</h4>
                        <p id="dataset___p">None Selected</p>
                        <h4 class="add-bottom-border">Mendelian Analysis</h4>
                        <p id="mendelian___p">None Selected</p>
                        <h4 class="add-bottom-border">Filters</h4>
                        <div id="filter___p" style="word-wrap: break-word;"></div>
                        <h4 class="add-bottom-border">Family</h4>
                        <p id="family___p">None Selected</p>
                        <h4 class="add-bottom-border">Attributes</h4>
                        <ul id="attribute___p">
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> <!-- End <div id="mendeliandiv"> -->


<div class="clearfix"></div>
<div id="results_div">
</div>

<!-- Variables for JS manipulation -->

<input id="study_loaded" type="hidden" name="study_loaded" value="false">


<script>

var study_name = "{{ study_obj.description | safe }}"

$(document).ready(function(){
  $("#study___p").text(study_name);
  $( "#attribute___p" ).sortable();
  $( "#attribute___p" ).disableSelection();
  $("#results_div").hide()
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


//
$('[data-toggle=confirmation]').confirmation({
  rootSelector: '[data-toggle=confirmation]',
  // other options
});




$( "#step1-dataset-select" ).on("change", function(event) {
    var dataset_id = $(this).find('option:selected').val();
    var dataset_text = $(this).find('option:selected').text();
    if (dataset_text != '---') {
      $("#dataset_description").val(dataset_text);
      $("#dataset___p").text(dataset_text);
      $('#filter___p').html("");
      $('#attribute___p').html("");
      get_filter(dataset_id);
      get_family(dataset_id);
      get_attribute(dataset_id);
      $("#li-step2").removeClass("disabled");
      $("#li-step3").removeClass("disabled");
      $("#li-step-submit").removeClass("disabled");

    } else {
        $('#step2-filter-select').html("");
        $('#step3-family-select').html("");
        $('#step4-attribute-select').html("");
        $(".to_step2").attr("disabled", true);
        $("#li-step2").addClass("disabled");
        $("#li-step3").addClass("disabled");
        $("#li-step-submit").addClass("disabled");
        $("#dataset___p").text('None Selected');
        $('#mendelian___p').html("");
        $('#filter___p').html("");
        $('#attribute___p').html("");
    }

  });

$( "#step1-mendelians-analysis-select" ).on("change", function(event) {
    var mendelian_analysis = $(this).find('option:selected').text();
    if (mendelian_analysis != '---') {
      $('#mendelian___p').html(mendelian_analysis);
    } else {
        $('#mendelian___p').html("");
    }

  });


function get_filter(dataset_id){
  $.ajax(
      {
          headers: {'X-CSRFToken': getCookie('csrftoken')},
          type: "GET",
          url : "/core/filter-snippet/" + dataset_id,
          success:function(data) {
              $('#step2-filter-select').html(data);
              $(".to_step2").attr("disabled", false);
              $("#filter-accordion > div:nth-child(1) > div.panel-heading").click()
              $('#filters_loaded').val(true).trigger("change");

          }
      }

  );
};

function get_attribute(dataset_id){
  $.ajax(
      {
          headers: {'X-CSRFToken': getCookie('csrftoken')},
          type: "GET",
          url : "/core/attribute-snippet/" + dataset_id,
          success:function(data) {
              $('#step4-attribute-select').html(data);
              $(".to_step2").attr("disabled", false);
              $("#attribute-accordion > div:nth-child(1) > div.panel-heading").click()
              $('#attributes_loaded').val(true).trigger("change");
          }
      }

  );
};

function get_family(dataset_id){
  $.ajax(
      {
          headers: {'X-CSRFToken': getCookie('csrftoken')},
          type: "GET",
          url : "/mendelian/family-snippet/" + dataset_id,
          success:function(data) {
            $('#step3-family-select').html(data);
          }
      }

  );
};


function submit_via_ajax() {
  $('#results_div').html('<button class="btn btn-info text-center"><i class="fa fa-refresh fa-spin fa-fw"></i> Searching...</button>');
  var form_data = $("#searchForm :input")
      .filter(function(index, element) {
          return $(element).val() != '';
      })
      .serialize();
  $("#user-alert-div").empty();
  $("#li-step-submit").removeClass("active");
  $("#li-step5").removeClass("disabled");
  $("#li-step5").addClass("active");
  $('#input_div').hide();
  $('#results_div').show();
      var attribute_order = {}
      $("#attribute___p>li" ).each(function( index ) {
          var tmp = $(this).attr('id')
          tmp = tmp.replace(/id_\d+___/g, "id_");
          tmp = tmp.replace(/id_\d+_\d+___/g, "id_");
          attribute_order[index] = index + "-" + tmp.split("id_attribute_group-")[1].split("___p")[0]
      });


  form_data = form_data.replace(/\d+_\d+___/g, "");
  form_data = form_data.replace(/\d+___/g, "");
  var study_id = {{study_obj.id|safe}}
  $.ajax(
      {
          headers: {'X-CSRFToken': getCookie('csrftoken')},
          type: "POST",
          url : "{% url 'mendelian-search' %}",
          data: {
                  form_data: form_data,
                  attribute_order: JSON.stringify(attribute_order),
                  study_id: study_id
          },
          success:function(data) {
              $('#results_div').html(data);
              $("#li-step-5").addClass("active");
          },
          error: function(xhr, status, error) {
            console.log(status);
            console.log(error);
          }
      }

  );
}

$(".submit_via_ajax_button").on("click", function(event) {
    event.preventDefault();
    event.stopImmediatePropagation();
    if ($(this).hasClass("disabled") == false) {
        submit_via_ajax()
    } else {
        $("#user-alert-div").html('<div class="alert alert-info">\
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>\
                        You must select an attribute before searching!\
                      </div>');


    }
});


$("#li-step-submit").on("click", function() {
    // $("#li-step-submit").addClass("active");
    // $("#li-step5").removeClass("active");
    // $("#li-step5").removeClass("disabled");
    $('#input_div').show();
    $('#results_div').hide();
});


$("#li-step2").on("click", function() {
    $('#input_div').show();
    $('#results_div').hide();
});


$("#li-step3").on("click", function() {
    $('#input_div').show();
    $('#results_div').hide();
});


$("#li-step1").on("click", function() {
    $('#input_div').show();
    $('#results_div').hide();
});


$("#li-step5").on("click", function() {
    if ($("#li-step5").hasClass("disabled") == false) {
        $("#li-step1").removeClass("active");
        $("#li-step2").removeClass("active");
        $("#li-step3").removeClass("active");
        $("#li-step-submit").removeClass("active");
        $("#li-step5").addClass("active");
        $('#input_div').hide();
        $('#results_div').show();
    }
});


</script>

{% endblock %}
