
{% load staticfiles %}
<div id="footer">
  <footer class="footer">
    <div class="container">
      <!--
      <div id="footer-div-main" class="row">
        <div class="col-md-6">
          <div id="address">
            Name
            <br> Address Line 1
            <br> Address Line 2
            <br> Address Line 3
          </div>
          <div class="clearfix"></div>
          <br>
        </div>
        <div id="partner-institutes" class="col-md-6 hidden-xs hidden-sm pull-right">
          <h5>Title</h5>
          <ul>
            <li><a href="#">link1</a></li>
            <li><a href="#">link2</a></li>
            <li><a href="#">link3</a></li>
            <li><a href="#">link4</a></li>
          </ul>
        </div>
      </div>
    </div>
    -->
        <p class="text-center" style="color:white;">Powered by GenESysV | <a style="color:white;" href="https://github.com/ubccr/genesysv"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a></p>
  </footer>
</div>
