{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
       Genomics Data warehouse
{% endblock %}


{% block content %}
<script>
    $("#main-nav-bar > ul > li.active").removeClass("active")
    $("#navbarId-Home-Menu").addClass("active")
    $("#navbarId-Home").addClass("active")
</script>




<div class="col-md-6">
     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center"> Studies Available for Searching</h3>
      </div>
      <div class="panel-body">
       {% if studies %}
       <ul>
        {% for study in studies %}
            <li><a href="{{study.app_name}}/{{study.id}}">{{study.name}} <strong>({{study.app_name |upper }})</strong></a></li>
        {% endfor %}
        </ul>

        {% endif %}
      </div>
    </div>
</div>


<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


</script>

{% endblock %}
