{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
       Genomics Data warehouse
{% endblock %}


{% block content %}
<script>
    $("#main-nav-bar > ul > li.active").removeClass("active")
    $("#navbarId-Home-Menu").addClass("active")
    $("#navbarId-Home").addClass("active")
</script>




<div class="col-md-6">
     <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Variant Search</h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-success btn-block" href="{% url 'search-home' %}"><i class="fa fa-search" aria-hidden="true"></i> Start Searching</a>
      </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Mendelian Search</h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-success btn-block" href="{% url 'mendelian-search-home' %}"><i class="fa fa-search" aria-hidden="true"></i> Start Searching</a>
      </div>
    </div>
</div>
<div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">GA4GH Beacon</h3>
      </div>
      <div class="panel-body">
        <div id="beacon_form_div">

        </div>
      </div>
    </div>
</div>

<div class="col-md-6">
    <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">News</h3>
          </div>
          <div class="panel-body">
                {% for ele in news %}
                    <h3>{{ele.title}}</h3>
                    {{ele.content|safe}}
                {% endfor %}
          </div>
    </div>

</div>

<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  function get_beacon_form(){
    $.ajax(
        {
            headers: {'X-CSRFToken': getCookie('csrftoken')},
            type: "GET",
            url : "{% url 'get-beacon-form' %}",
            success:function(data) {
                $('#beacon_form_div').html(data);
            },

        }

    );
  };

  $( document ).ready(function() {
        get_beacon_form();
    });


</script>

{% endblock %}
