{% load staticfiles %}
<nav class="navbar navbar-custom container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-lg hidden-sm hidden-md" href="/">Genomics Data Warehouse</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="main-nav-bar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="navbarId-About"><a href="{% url 'about'%}">About</a></li>

        <li id="navbarId-Search-Main" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            {% comment %}<li id="navbarId-GA4GH"><a href="{% url 'ga4gh'%}">GA4GH API</a></li> {% endcomment %}
            <li id="navbarId-Search-Home"><a href="{% url 'search-home' %}">Search</a></li>
            {% if user.is_authenticated %}
                <li id="navbarId-VariantReviewStatusList"><a href="{% url 'list-variant-review-summary' %}">Variant Review Status Summary</a></li>
                <li id="navbarId-SavedSearch"><a href="{% url 'saved-search-list' %}">Your Saved Searches</a></li>
            {% endif %}
          </ul>
        </li>
        <li id="navbarId-Tools" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            {% comment %}<li id="navbarId-GA4GH"><a href="{% url 'ga4gh'%}">GA4GH API</a></li> {% endcomment %}
            <li id="navbarId-beacon"><a href="{% url 'beacon'%}">GA4GH Beacon</a></li>
            <li id="navbarId-inheritance-analysis-request-list"><a href="{% url 'inheritance-analysis-request-list'%}">Inheritance Analysis Request</a></li>
            <li id="navbarId-msea-plot"><a href="{% url 'msea-home'%}">MSEA Plot</a></li>
            <li id="navbarId-msea-pvalue"><a href="{% url 'msea-pvalue'%}">MSEA P-Value</a></li>
            <li id="navbarId-subject-report"><a href="{% url 'subject-report'%}">Subject Report</a></li>
          </ul>
        </li>

        <li id="navbarId-Help" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <i class="fa fa-caret-down" aria-hidden="true"></i>
          <ul class="dropdown-menu">
            <li id="navbarId-FAQ"><a href="{% url 'faq'%}">FAQ</a></li>
            <li id="navbarId-Tutorial"><a href="{% url 'tutorial'%}">Tutorials</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

      {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i> {{request.user.username}} <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/change-password/">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout/"> <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
          </ul>
        </li>
        {% else %}
            <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
