{% load staticfiles %}
<nav class="navbar navbar-custom container">
        <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-lg hidden-sm hidden-md" href="/">Microbiome</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="main-nav-bar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="navbarId-home"><a href="{% url 'home'%}">Home</a></li>
        <li id="navbarId-saved-search-list"><a href="{% url 'saved-search-list'%}">Saved Searches</a></li>
        <!-- 
        <li id="navbarId-download-request-list"><a href="{% url 'download-request-list'%}">Download Requests</a></li>
        {% if perms.microbiome.can_download_OTU_without_request %}
            <li id="navbarId-download-request-review-list"><a href="{% url 'download-request-review-list'%}">Review Download Requests</a></li>
        {% endif %}
      -->
      </ul>
      <ul class="nav navbar-nav navbar-right">

      {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" aria-hidden="true"></i> {{request.user.username}} <i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/change-password/">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout/"> <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
          </ul>
        </li>
        {% else %}
            <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->

</nav>
